body {
    height: 100vh;
    background: #06699c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#06699c, #133369); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#06699c, #133369); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#06699c, #133369); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#06699c, #133369); /* Standard syntax (must be last) */
    background-attachment: fixed;
    font-family: Sans-serif, Arial, Verdana;
    margin: 0px;
    padding: 0px;
}

header img {
  display: block;
  margin: auto;
}

header {
    display: block;
    margin: auto;
    width: 875px;
}

article {
    display: block;
    margin: auto;
    width: 875px;
    line-height: 145%;
}

article .content {
    background: white;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    padding: 50px 40px;
    min-height: 60vh;
}

footer {
    background: white;
    display: block;
    margin: auto;
    width: 875px;
    background: #333;
    color: white;
    text-align: center;
    padding: 12px 0px;
    padding-bottom: 10px;
}

nav {
    display: block;
    margin: auto;
    width: 875px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 10px;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: #4CAF50;
}

h1 {
  font-size: 20pt;
  color: black;
}

h2 {
  font-size: 15pt;
  color: #06699c;
}
